


@*GEREKSİZ BURASI BAKMA*@
@{
    Layout = null;
 }
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Kamp Tablo Örnek - Kategori</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>2</td>
        <td>aa</td>
        <td>sss</td>
        <td>ddd</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>aa</td>
        <td>sss</td>
        <td>ddd</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
